<div id="ai-suggestions">
  <ul class="list-disc list-inside space-y-1">
    <% suggestions.each do |suggestion| %>
      <li class="text-gray-700"><%= suggestion %></li>
    <% end %>
  </ul>
</div>
