<%= turbo_stream.replace dom_id(@task), partial: "dashboard/task_row", locals: { task: @task } %>
<%= turbo_stream.replace "task-form", partial: "tasks/form", locals: { task: Task.new, employees: User.where(role: "Employee") } %>
<%= turbo_stream.replace "task-msg" do %>
  <div class="text-blue-700 font-semibold animate-fade-in">Task updated successfully!</div>
<% end %>
